<html>
  <head>
    <title>Mail template</title>
    <style>
      .link { padding: 10px; border-radius: 5px; } .heading { font-size: 16pt;
      font-weight: bold; text-align: center; } .content { display: flex;
      flex-direction: column; gap: 1rem; align-items: center; }
    </style>
  </head>
  <body>
    <div class="content">
      <img src="{{ logo }}" alt="Logo"/>
      <h1 class="heading">Reset your password</h1>
      <p>
        Hi
        {{ user }}
        <br /><br />

        To reset your password, please click this <a href="{{ link }}" class="link">link</a> and follow the instructions.

        <br /><br />
        if you did not make this request, please ignore this email.
      </p>
    </div>
  </body>
</html>